@model Signal

@{
    ViewData["Title"] = "Детайли за сигнал";
}

<div class="breadcrumbs">
    <a href="@Url.Action("Index", "Home")">НАЧАЛО</a> / <a href="@Url.Action("AllSignals")">СИГНАЛИ</a> / <a href="#">@Model.Title.ToUpper()</a>
</div>

<h1>ДАННИ ЗА СИГНАЛ</h1>

<div class="signal-details-container">
    <h2><i class="fa-solid fa-circle-info"></i> @Model.Title</h2>
    @if (User.IsInRole(Constants.AdministratorRoleName))
    {
        if (Model.IsApproved == null || Model.IsApproved == false)
        {
            <form asp-action="Approve" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Одобри</button>
            </form>
        }

        if (Model.IsApproved != false)
        {
            <form asp-action="Decline" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Отхвърли</button>
            </form>
        }
    }

    @if (Model.IsNameVisible || User.IsInRole(Constants.AdministratorRoleName))
    {
        <p><strong>Подател:</strong> @Model.SenderName</p>
    }
    else
    {
        <p><strong>Подател:</strong> <i>Скрито</i></p>
    }

    @if (User.IsInRole(Constants.AdministratorRoleName))
    {
        <p><strong>Телефон на подател:</strong> @Model.SenderPhone</p>
        <p><strong>Имейл на подател:</strong> @Model.SenderEmail</p>
    }

    <div class="meta">
        <span class="badge">#@Model.Id</span>
        <span class="status">@Model.Status</span>
        <span class="category">@Model.Category</span>
        <span class="date">@Model.CreatedAt.ToString("dd MMMM yyyy г., HH:mm ч.")</span>
    </div>

    @if (Model.Images != null && Model.Images.Any())
    {
        <div class="signal-images">
            <h3>Снимки</h3>
            <div class="image-gallery">
                @foreach (var img in Model.Images)
                {
                    <img src="@img.FilePath" alt="Снимка към сигнала" class="signal-image" />
                }
            </div>
        </div>
    }

    <p><i class="fa-solid fa-location-dot"></i> <strong>Адрес:</strong> @Model.LocationAddress</p>

    <p><strong>Описание:</strong><br /> @Model.Description</p>
    @*
    <p><strong>Подаден от:</strong> @Model.User.Name</p> *@

    <p><strong>Координати:</strong> @Model.Latitude, @Model.Longitude</p>
</div>
